/* Variables */
:root {
    --main-color1: #222222;
    --main-color2:  #8bc5ff;
    --main-color3: white;
    --main-color4: white;
}
/* End of Variables */

/* Resets */
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Montserrat;
}
/* End of Resets */

body {
    background: linear-gradient(var(--main-color2) 25%, var(--main-color3));
    box-sizing: border-box;
}
header {
    width: 100%;
	height: 90px;
	background-color: var(--main-color1);
	display: flex;
    justify-content: center;
    align-items: center;   
}
/* need to make it so nav bar disapears if screen gets too small */
nav {
    width: 100%;
    padding: 0 25px 0 0;
    margin: 0;
    display: inline-flex;  
    justify-content: right; 
    align-items: left;
    min-width: 350px;
    position: absolute;
}
li {
    padding: 12px;
    font-size: 115%;
    display: inline-flex;
    margin: auto;
    padding: 6px;  
}
h1 {
    text-align: center;
    width: 100%;
    font-size: 32px;
    color: var(--main-color1);
    padding: 10px 0px 10px 0px;
}
h4 {
    text-align: center;
    width: 100%;
    margin: 1em auto;
    text-align: center;
    font-size: 115%;
    color: var(--main-color1);
}
.lab1 {
    text-align: center;
}
.home-name1 {
    min-width: 350px;
    color: var(--main-color1);
}
.home-sec {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-sec {
    height: 100vh;
}
.home-desc {
    color: var(--main-color1);
}
.h1-style2 {
    padding-top: 30px;
}
.home-desc {
    padding-bottom: 15px;
}
.about-button {
    display: flex;
    justify-content: center;
    border: 2px solid var(--main-color1);
    margin: auto;
    width: 30%;
    padding: 10px;
    border-radius: 4%;
    font-weight: bold;
    color: var(--main-color1);
}
.about-background {
    background: var(--main-color4);
    width: 65vw;
    margin: auto; 
    border-radius: 1%; 
    box-shadow: 10px 10px 5px rgb(148, 148, 148, 0.5), 5px 5px 6px 15px rgb(148, 148, 148, 0.3);
}
.other-links {
    color: var(--main-color1);
}
.img-1 {
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    display: block;
    margin: 0 auto;
    padding: 15px;
}
.about-paragraph1 {
    text-align: center;
    padding: 20px 30px 0 30px;
}
.about-paragraph2 {
    text-align: center;
    padding: 30px;
}
/* parent container for about section divs */
.home-sec2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em;
    height: 100%; 
}
/* child of container that holds the about section divs */
.experience {
    background: var(--main-color4);
    border-radius: 2%; 
    box-shadow: 10px 10px 5px rgb(148, 148, 148, 0.5), 5px 5px 6px 15px rgb(148, 148, 148, 0.3);
    padding: 2em;
    text-align: center;
    display: grid;
    justify-content: center;
    margin: 1em auto;
}
.experience-title {
    font-weight: bold;
    color: var(--main-color1);
    background: var(--main-color1);
    padding: 5em;
    color: var(--main-color2);
}
.exp-text {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    font-weight: bold;
    border-radius: 3%;
    min-width: 250px;
}
.contact-sec {
    background: var(--main-color4);
    text-align: center;
    width: 65vw;
    height: auto;
    max-width: 850px;
    margin: auto; 
    border-radius: 1%; 
    box-shadow: 10px 10px 5px rgb(148, 148, 148, 0.5), 5px 5px 6px 15px rgb(148, 148, 148, 0.3);
}
.contact-container {
    padding-top: 1em;
}
.p-bold {
    font-weight: bold;
}
.input-1 {
    padding: 1em;
    margin: 1em;
    width: 60%;
    border: 1px solid var(--main-color1);
    border-radius: 1%;
}
.form-1 {
    padding: 1em;
}
button {
    padding: 1em;
    margin: 1em;
    width: 40%;
    border: 1px solid var(--main-color1);
    border-radius: 1%;
  }
/* //////////////////////////////////////////////////////// */
.l1:link {
    text-decoration: none;
    color: var(--main-color4);
}
.l1:visited {
    text-decoration: none;
    color: var(--main-color4);
}
.l1:active {
    color: var(--main-color4);
    text-decoration: none;
}
button:hover {
    background-color: var(--main-color1);
    color: var(--main-color2);
    cursor: pointer;
}
.l1:hover {
    color: var(--main-color2);
    font-weight: bold;
    cursor: pointer;
}
.about-button:hover {
    background-color: var(--main-color1);
    color: var(--main-color2);
    cursor: pointer;
}
.about-button:visited {
    text-decoration: none;
}
.about-button:active {
    text-decoration: none;
}
.about-button:link {
    text-decoration: none;
}
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  @media (max-width: 900px) {
    li {
        font-size: 75%;
    }
}
@media (max-width: 750px) {
    .about-background {
        width: 40vh;
    }
}