/* Variables */
:root {
  --main-color1: #222222;
  --main-color2: #8bc5ff;
  --main-color3: white;
  --main-color4: white;
}
/* End of Variables */

/* Resets */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Montserrat;
}
/* End of Resets */

/*page background gradient colour*/
body {
  background: linear-gradient(
    var(--main-color3) 10%,
    var(--main-color2) 60%,
    var(--main-color3)
  );
  
}

/*navbar*/
.navbar {
  background-color: #222222;
}
h1 {
  text-align: center;
  width: 100%;
  font-size: 32px;
  color: var(--main-color1);
  padding: 10px 0px 10px 0px;
}
h4 {
  text-align: center;
  width: 100%;
  margin: 1em auto;
  text-align: center;
  font-size: 115%;
  color: var(--main-color1);
}
.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lab1 {
  text-align: center;
}
.home-name1 {
  min-width: 350px;
  color: var(--main-color1);
}
.home-desc {
  color: var(--main-color1);
}

.home-desc {
  padding-bottom: 15px;
}
.about-button {
  display: flex;
  justify-content: center;
  border: 2px solid var(--main-color1);
  margin: 10px auto;
  padding: 10px;
  border-radius: 4%;
  font-weight: bold;
  color: var(--main-color1);
}
.ab1 {
  width: 30%;
}
.about-background {
  background: var(--main-color4);
  border-radius: 1%;
  box-shadow: 10px 10px 5px rgb(148, 148, 148, 0.5),
    5px 5px 6px 15px rgb(148, 148, 148, 0.3);
    max-width: 65%;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.other-links {
  color: var(--main-color1);
}
.img-1 {
  border-radius: 50%;
  width: 24vh;
  height: 24vh;
  display: block;
  margin: 0 auto;
  padding: 15px;
}
.about-elements {
  text-align: center;
  padding: 1em;
}

/* parent container for about section divs */
.experience-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* child of container that holds the about section divs */
.experience-elements {
  background: var(--main-color4);
  border-radius: 1%;
  box-shadow: 10px 10px 5px rgb(148, 148, 148, 0.5),
    5px 5px 6px 15px rgb(148, 148, 148, 0.3);
  text-align: center;
  justify-content: center;
  padding: 1em;
}
.experience-titles {
  font-weight: bold;
  background: var(--main-color1);
  color: var(--main-color2);
  margin: auto 1em;
}
.exp-text {
  padding: 1em;
  font-weight: bold;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.contact-elements {
  background: var(--main-color4);
  border-radius: 1%;
  box-shadow: 10px 10px 5px rgb(148, 148, 148, 0.5),
    5px 5px 6px 15px rgb(148, 148, 148, 0.3);
  text-align: center;
  padding: 1em;
  max-width: 55%;
}

.container-inputs {
  border: 2px solid var(--main-color1);
  margin: 1em;
  padding: 1em;
  width: 65%;
}

.navbar-nav > li {
  padding: 0 20px 0 20px;
}

/* //////////////////////////////////////////////////////// */
a:hover {
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.about-button:hover {
  background-color: var(--main-color1);
  color: var(--main-color2);
  cursor: pointer;
  text-decoration: none;
}
.about-button:visited {
  text-decoration: none;
}
.about-button:active {
  text-decoration: none;
}
.about-button:link {
  text-decoration: none;
}
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
@media (max-width: 800px) {
  .contact-elements {
    min-width: 90%;
  }
  .container-inputs {
    min-width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .ab1 {
    min-width: 50%;
  }
  .about-background {
    max-width: 90%;
  }
}
@media only screen and (max-width: 750px) {
.img-1 {
  width: 20vh;
  height: 20vh;
}
}